.header {
    font-size: 2em; 
    font-weight: bolder;
}

.elements {
    font-size: 1.5em; 
    font-weight: bolder;
}

.color-1 {
    background-color: #FF5733;
}

.color-2 {
    background-color: #33FF57;
}

.color-3 {
    background-color: #5733FF;
}

.color-4 {
    background-color: #33FFFF;
}

.color-5 {
    background-color: #FF33FF;
}

.color-6 {
    background-color: #FFFF33;
}

.color-7 {
    background-color: #3399FF;
}

.color-8 {
    background-color: #FF9933;
}

.color-9 {
    background-color: #99FF33;
}

.color-10 {
    background-color: #FF33CC;
}

.color-11 {
    background-color: #FFCC33;
}

.color-12 {
    background-color: #33CCFF;
}

.color-13 {
    background-color: #CCFF33;
}

.color-14 {
    background-color: #FF3366;
}

.color-15 {
    background-color: #3366FF;
}

.color-16 {
    background-color: #FF6633;
}

.color-17 {
    background-color: #6633FF;
}

.color-18 {
    background-color: #33FF66;
}

.color-19 {
    background-color: #FF66CC;
}

.color-20 {
    background-color: #CC66FF;
}

.color-21 {
    background-color: #99CC33;
}

.color-22 {
    background-color: #FF9933;
}

.color-23 {
    background-color: #3399FF;
}

.color-24 {
    background-color: #FFCC33;
}

.color-25 {
    background-color: #33FFFF;
}
